/* -----------------------------------------------------------------------------
    authors:  Kasper Lahti, Yves Van Goethem
    summary:  RESET
              GENERIC
              TABLE_HEADERS
              TABLE_BODYS
              PAGE_HEADER
              SINGLE_PAGE
              BROWSER_ISSUES
              PAGE_FOOTER
----------------------------------------------------------------------------- */

/* =RESET
----------------------------------------------------------------------------- */
* { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; }
body {
  background-color: #EEE;
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  line-height: 1;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0 !important;
  padding: 0 !important;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/* =GENERIC
----------------------------------------------------------------------------- */
.container {
  width: 100%;
  position: relative;
  background-color: #FFF;
}

.content {
  margin-top: 92px;
  padding-bottom: 50px;
}

.content.single {
  margin-top: 65px;
}

.content .span {
  width: 100%;
}

.content table {
  width: 100%;
}

#browserscope table {
  width: 70%;
  position: relative;
}

/* =TABLE_HEADERS
----------------------------------------------------------------------------- */
#browserscope thead,
table.header {
  position: absolute;
  background: #dcdcdc;
  background: -moz-linear-gradient(top, #dcdcdc 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dcdcdc), color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(top, #dcdcdc 0%,#ffffff 100%);
  background: -o-linear-gradient(top, #dcdcdc 0%,#ffffff 100%);
  background: -ms-linear-gradient(top, #dcdcdc 0%,#ffffff 100%);
  background: linear-gradient(top, #dcdcdc 0%,#ffffff 100%);
  border-bottom: 1px solid #aeb1b5;
}
#browserscope thead tr td,
table.header td {
  border-left: 2px groove #fff;
  padding: 7px 9px 5px;
  font-weight: bold;
  font-size: 11px;
  text-align: left;
}

#browserscope thead tr td:first-child,
table.header tr td:first-child {
  border-left: 0;
}

.content table tr td:first-child {
  width: 20%;
}

.content table tr td {
  width: 40%;
  font-size: 14px;
  vertical-align: middle;
}

#browserscope table {
  font-size: 14px;
}

#browserscope table thead {
  position: relative;
}

#browserscope table thead tr td:first-child {
  width: auto;
}

#browserscope table thead tr td, 
#browserscope table tbody tr td {
  width: 50%;
}

/* =TABLE_BODYS
----------------------------------------------------------------------------- */
.zebra-striped tbody {
  background-color: #FFF;
}

.zebra-striped .genre {
  text-transform: capitalize;
}

table tbody td:first-child {
  text-align: center;
}

.single.content table tbody tr td:first-child {
  text-align: left;
}

table tbody td {
  padding: 10px;
}

table tbody a {
  color: #000;
}

.zebra-striped tbody tr:nth-child(odd) td {
  background-color: #f5f5f5;
}

.btn.small {
  border-radius: 20px;
  text-indent: 1px;
  font-size: 16px;
  padding: 0 !important;
  margin: 0!important;
  width: 31px;
  height: 31px;
}

.btn.big img {
  width: 60%;
  height: 60%;
  margin-top: 8px;
  margin-right: 3px;
}

.btn.small img {
  width: 75%;
  height: 75%;
  margin-top: 4px;
  margin-right: 2px;
}

/* =PAGE_HEADER
----------------------------------------------------------------------------- */
header {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  height: 63px;
  border-top: 1px solid white;
  border-bottom: 1px solid #999999;
  text-align: center;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#cacaca), to(#ececec));
  background-image: -moz-linear-gradient(90deg, #cacaca 0%, #ececec 100%);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33);
}
.page-header {
  display: table;
  width: 100%;
}

.page-header > div {
  border-left: 2px groove #fff;
  display: table-cell;
  height: 65px;
  vertical-align: middle;
}
.page-header > div:first-child {
  border-left: 0;
}

.page-header .back {
  float: left;
  width: 15%;
  height: 65px;
}

.page-header .back a {
  width: 100%;
  line-height: 64px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.single .page-header .play {
  width: 10%;
}

.page-header .play {
  width: 20%;
}

.page-header .submit {
  width: 20%;
}

.page-header .display {
  width: 60%;
}

.btn,
.page-header .submit a {
  -moz-box-shadow: inset 0 1px 0 #ffffff, 0 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 1px 0 #ffffff, 0 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 0 #ffffff, 0 1px 1px rgba(0, 0, 0, 0.5);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e1e1e1), to(#FFF));
  background-image: -moz-linear-gradient(90deg, #e1e1e1 0%, #FFF 100%);
  border-style: none;
  color: #F60;
  text-shadow: 0 1px 2px #FFF;
}

.btn:active,
.page-header .submit a:active {
  -moz-box-shadow: 0 1px 1px #ffffff, inset 0 1px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 1px #ffffff, inset 0 1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 1px #ffffff, inset 0 1px 0 rgba(0, 0, 0, 0.5);
}

.page-header .play .btn.big {
  border-radius: 25px;
  font-size: 20px;
  line-height: 42px;
  text-indent: 3px;
  width: 40px;
  height: 40px;
}

.page-header label {
  display: block;
  color: #333;
  font-size: 11px;
  line-height: 12px;
  font-weight: bold;
  text-shadow: 0 1px 1px #FFF;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 4px;
}

.page-header .display {
  position: relative;
  overflow: hidden;
  background-size: 24px;
}

.page-header .back:active {
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.1);
}

.single .page-header h1 {
  line-height: 44px;
  font-weight: bold;
}

.page-header h1 {
  font-size: 18px;
  line-height: 24px;
}

.page-header h2 {
  font-size: 14px;
  line-height: 12px;
  margin: 0;
  margin-top: 5px;
  font-weight: normal;
  color: #333;
  text-shadow: 0 1px 1px #FFF;
}

.page-header h1 a {
  color: #333;
  text-shadow: 0 1px 1px #FFF;
}

.page-header .submit a {
  border-radius: 25px;
  font-size: 16px;
  line-height: 40px;
  padding: 0 20px;
  width: 50px;
  height: 40px;
  display: inline-block;
}

.page-header a {
  color: #333;
  text-shadow: 0 1px 1px #FFF;
  font-weight: bold;
}

.page-header a:hover {
  text-decoration: none;
}

/* =SINGLE_PAGE
----------------------------------------------------------------------------- */
.section-header {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  text-shadow: 0 1px 1px #FFF;
  border-top: 1px solid #CCC;
  text-indent: 20px;
  width: 100%;
}

.section-header + * {
  margin-left: 20%;
  margin-top: -34px;
  margin-bottom: 20px;
  font-size: 14px;
}

pre {
  font-family: monaco, courier, monospace;
  font-size: 13px;
  line-height: 20px;
  background-color: #f5f5f5;
  border-style: none!important;
  margin: 20px;
  width: 70%;
}

/* =BROWSER_ISSUES
----------------------------------------------------------------------------- */
ul li {
  margin: 10px;
}

#browserscope thead tr td {
  padding: 10px;
}

#browserscope tbody tr td {
  padding: 10px;
}

/* =PAGE_FOOTER
----------------------------------------------------------------------------- */
footer {
  display: block;
  background: #f3f3f3;
  background: -moz-linear-gradient(top,  #f3f3f3 0%, #e4e4e4 1%, #b6b6b6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(1%,#e4e4e4), color-stop(100%,#b6b6b6));
  background: -webkit-linear-gradient(top,  #f3f3f3 0%,#e4e4e4 1%,#b6b6b6 100%);
  background: -o-linear-gradient(top,  #f3f3f3 0%,#e4e4e4 1%,#b6b6b6 100%);
  background: -ms-linear-gradient(top,  #f3f3f3 0%,#e4e4e4 1%,#b6b6b6 100%);
  background: linear-gradient(top,  #f3f3f3 0%,#e4e4e4 1%,#b6b6b6 100%);
  padding: 0 !important;
  margin: 0 !important;
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: normal;
  height:18px;
  outline: 1px solid rgba(104,104,104, .8);
  border-top: 1px solid rgba(250, 250, 250, .8);
}

footer p {
  font-size: 10px;
  padding: 0 0 0 8px;
}
