@font-face {
  font-family: "Special Elite";
  src: url("./special_elite/SpecialElite.eot") format("eot"),
       url("./special_elite/SpecialElite.woff") format("woff"),
       url("./special_elite/SpecialElite.ttf") format("truetype"),
       url("./special_elite/SpecialElite.svg#SpecialElite-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

html, body {
  background-color: #fefefe;
}
body {
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}
.container > footer p {
  text-align: center; /* center align it with the container */
}
.container {
  width: 580px;
}

/* The white background content wrapper */
.content {
  background-color: #fbfbfb;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
      -ms-border-radius: 0 0 6px 6px;
       -o-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.35);
     -moz-box-shadow: 0 2px 2px rgba(0,0,0,.35);
      -ms-box-shadow: 0 2px 2px rgba(0,0,0,.35);
       -o-box-shadow: 0 2px 2px rgba(0,0,0,.35);
          box-shadow: 0 2px 2px rgba(0,0,0,.35);
}

/* Page header tweaks */
.page-header {
  background-color: #ff6310;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
      -ms-border-radius: 6px 6px 0 0;
       -o-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}

.page-header h1 {
  font-family: "Special Elite", cursive;
  color: #fefefe;
  text-shadow: -2px 2px #222;
}

.label, .btn {
  -webkit-transition: all .6s ease;
     -moz-transition: all .6s ease;
      -ms-transition: all .6s ease;
       -o-transition: all .6s ease;
          transition: all .6s ease;
}

#run {
  outline: none;
}

#player {
  position: relative;
  width: 100%;
  height: 80px;
}

#player > div {
  opacity: 0.7;
  position: absolute;
  width: 0;
  height: 100%;
}

#player > img {
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
}

#timeupdate {
  background: #333;
}

#progress {
  background: #848;
}

#seekable {
  background: #484;
}