/* -----------------------------------------------------------------------------
    authors:  Kasper Lahti, Yves Van Goethem
    summary:  RESET
              GENERIC
              ERROR
              BUTTONS
              TABLE_HEADERS
              TABLE_BODYS
              PAGE_HEADER
              INFO_BUBBLE
              PAGE_CONTENT
              SECTION_HEADERS
              SINGLE_PAGE
              BROWSER_ISSUES
              PAGE_FOOTER
----------------------------------------------------------------------------- */

/* =RESET
----------------------------------------------------------------------------- */
* { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; }
body {
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  line-height: 1;
  background: url(../images/texture.jpg) #CCC;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0 !important;
  padding: 0 !important;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/* =GENERIC
----------------------------------------------------------------------------- */
.container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.content {
  padding-top: 82px;
}

.content .span {
  width: 100%;
}

.content table {
  width: 100%;
}

/* =ERROR
----------------------------------------------------------------------------- */
.error .page-header div.back {
  width: 12%;
}

.error .row {
  display: block;
}

/* =BUTTONS
----------------------------------------------------------------------------- */
.btn {
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url(../images/frame-button.png);
  width: 64px;
  height: 64px;
  border-style: none;
  color: transparent;
  cursor: pointer;
}

a.btn {
  color: transparent;
  display: inline-block;
}

.btn.small {
  background-size: 64px;
  width: 32px;
  height: 32px;
}

.btn.small:active {
  background-position: -32px !important;
}

.btn.small.disabled {
  background-size: 32px;
}

.btn.run img {
  opacity: 0;
  margin-top: 5px;
}

.btn img {
  opacity: .5;
}

.btn.small img {
  margin-top: 4px;
  margin-right: 0px;
  width: 62%;
  height: 62%;
}

.btn.big + label .waiting,
.btn.big.score.disabled.success + label .done,
.btn.big.score.disabled.warning + label .done {
  display: block;
}
.btn.small.running span,
.btn.big + label .running,
.btn.big.running + label .waiting,
.btn.big.score.disabled + label .waiting,
.btn.big.score.disabled + label .running,
.btn.big + label .done {
  display: none;
}
.btn.big.running + label .running {
  display: block !important;
}

.btn.running img {
  opacity: .5 !important;
}

.btn .result {
  display: none;
}
.btn.score.disabled:not(.running) .result {
  display: block;
}

.btn.score.disabled:not(.running):not(.success):not(.danger) {
  border: 0 !important;
  background-image: url(../images/frame-button.png);
  color: #000;
}

.btn.score.disabled:not(.running):not(.success):not(.danger) img {
  display: none;
}

.btn.run {
  background-image: url(../images/play-button.png);
}

.btn.run:active {
  background-position: -64px;
}

.btn.run.disabled {
  background-image: url(../images/frame-button.png);
}

.btn.run.danger {
  background-image: url(../images/fail-button.png);
}

.btn.run.success {
  background-image: url(../images/win-button.png);
}

.btn.github {
  background-image: url(../images/cat-button.png);
}

.btn.github:active {
  background-position: -64px;
}

.btn.back {
  background-image: url(../images/back-button.png);
}

.btn.home {
  background-image: url(../images/home-button.png);
}

.btn.back:active {
  background-position: -64px;
}

.btn.big.disabled:not(.run) {
  border: 0;
  background: none;
}

/* =TABLE_HEADERS
----------------------------------------------------------------------------- */
table thead {
  background: #dcdcdc;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RjZGNkYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #dcdcdc 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dcdcdc), color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(top, #dcdcdc 0%,#ffffff 100%);
  background: -o-linear-gradient(top, #dcdcdc 0%,#ffffff 100%);
  background: -ms-linear-gradient(top, #dcdcdc 0%,#ffffff 100%);
  background: linear-gradient(top, #dcdcdc 0%,#ffffff 100%);
  border-bottom: 1px solid #aeb1b5;
}

table thead td {
  border-left: 1px solid #CCC;
  padding: 7px 9px 5px;
  font-weight: bold;
  font-size: 11px;
  text-align: left;
}

table thead td:first-child {
  border-left: 0;
}

table#tests thead {
  background: #dcdcdc;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RjZGNkYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #dcdcdc 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dcdcdc), color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%,rgba(255, 255, 255, 0.6) 100%);
  background: -o-linear-gradient(top, #dcdcdc 0%,#ffffff 100%);
  background: -ms-linear-gradient(top, #dcdcdc 0%,#ffffff 100%);
  background: linear-gradient(top, #dcdcdc 0%,#ffffff 100%);
}

table#tests thead td {
  border-bottom: 1px solid #CCC;
  border-left: 1px solid #CCC;
}

table#tests thead td:first-child {
  border-right: 1px solid #CCC;
}

/* =TABLE_BODYS
----------------------------------------------------------------------------- */
table tbody {
  background-color: #FFF;
  font-size: 14px;
}

#tests tbody {
  background-color: rgba(255, 255, 255, .0);
}

table tbody tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.03);
}

table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

table tbody td:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

table tbody td {
  padding: 10px;
  vertical-align: middle;
  border-bottom: 1px solid #CCC;
  border-right: 1px solid #CCC;
}

#tests tbody td:first-child {
  text-align: center;
  border-left: 1px solid #CCC;
}

table tbody td a {
  color: #333;
  display: block;
  padding: 10px 0;
}

table tbody td.genre {
  text-transform: capitalize;
}

.label {
  color: gray;
}

.important {
  color: red;
  font-weight: bold;
}

.warning {
  color: orange;
  font-weight: bold;
}

.notice,
.success {
  color: green;
  font-weight: bold;
}

/* =PAGE_HEADER
----------------------------------------------------------------------------- */
.wrapper-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  max-width: 1000px;
}
header {
  display: block;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #999999;
  text-align: center;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#cacaca), to(#ececec));
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VjZWNlYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYWNhY2EiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background-image: -moz-linear-gradient(90deg, #cacaca 0%, #ececec 100%);
  background-image: -o-linear-gradient(90deg, #cacaca 0%, #ececec 100%);
  background-image: -ms-linear-gradient(90deg, #cacaca 0%, #ececec 100%);
  background-image: linear-gradient(90deg, #cacaca 0%, #ececec 100%);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33);
}

.page-header {
  display: table;
  width: 100%;
  height: 80px;
  background-image: url(../images/brush.png);
}

.page-header > div {
  border-left: 2px groove #EEE;
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px 3px;
}
.page-header > div:first-child {
  border-left: 0;
}

.single .page-header .play {
  width: 10%;
}

.page-header .play {
  width: 20%;
}

.page-header .display {
  width: 60%;
  border-left: 1px solid #000;
}

.page-header .display > div {
  position: relative;
  display: block;
}

.page-header div > h1 {
  width: 525px;
}

.page-header .submit {
  width: 20%;
  border-left: 1px solid #EEE;
}

.page-header label {
  display: block;
  color: #333;
  font-size: 11px;
  line-height: 12px;
  font-weight: bold;
  text-shadow: 0 1px 1px #FFF;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 1px;
}

.page-header .display {
  position: relative;
  background: #333;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRmNGY0ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzQ1NDU0NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNzM3MzciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(90deg, #373737 0%, black 49%, #454545 50%, #4f4f4f 100%) #333;
  background: -webkit-gradient(linear, left bottom, left top, from(#373737), color-stop(0.49, black), color-stop(0.50, #454545), to(#4f4f4f)) #333;
  background: -o-linear-gradient(90deg, #373737 0%, black 49%, #454545 50%, #4f4f4f 100%);
  background: -ms-linear-gradient(90deg, #373737 0%, black 49%, #454545 50%, #4f4f4f 100%);
  background: linear-gradient(90deg, #373737 0%, black 49%, #454545 50%, #4f4f4f 100%);
}

.single .page-header h1 {
/*  line-height: 44px;*/
  font-weight: bold;
  font-size: 14px;
}

.page-header h1 {
  font-size: 18px;
  line-height: 24px;
}

.page-header h2 {
  font-size: 14px;
  line-height: 12px;
  margin: 0;
  margin-top: 5px;
  font-weight: normal;
}

.page-header h1,
.page-header h2 {
  color: #EEE;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.mobile-header {
  display: none;
}

.page-header .info-small {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 30px;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-style: none;
  background-color: #e7e7f5;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  z-index: 2000;
}

/* =INFO_BUBBLE
----------------------------------------------------------------------------- */
.info-description {
  border-radius: 5px;
  padding: 20px;
  top: 50px;
  width: 400px;
  line-height: 20px;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid #FFF;
  border-top-style: none;
  position: absolute;
  right: -72px;
  color: #333;
  text-shadow: 0 1px 0 #ffffff;
  text-align: left;
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}
.info-description::after {
  content: " ";
  width: 32px;
  height: 16px;
  position: absolute;
  top: -16px;
  background-image: url(../images/corner.png);
  right: 22%;
}
.info-description.hide {
  display: none;
}
.info-description a {
  color: #F60;
  text-decoration: underline;
  font-weight: bold;
}

/* =PAGE_CONTENT
----------------------------------------------------------------------------- */
.tab {
  display: table;
  margin: 20px;
  width: 96%;
}
.row {
  display: table-row;
}
.row .col {
  display: table-cell;
  vertical-align: top;
  padding: 20px;
  border-bottom: 2px groove #EEE;
}
.row .col:not(:first-child) > * {
  font-size: 14px;
  border-radius: 3px;
  overflow: hidden;
  background-color: #FFF;
  min-height: 100px;
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
}
.row .col:first-child {
  width: 20%;
  padding: 0;
}

.tab .row {
  border-top: 2px groove #EEE;
}

.tab .row .col:first-child {
  width: 20%;
}

.tab .row .col:last-child {
  font-size: 14px;
  border-radius: 3px;
  overflow: hidden;
}

/* =SECTION_HEADERS
----------------------------------------------------------------------------- */
.section-header {
  font-weight: bold;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 0 1px 1px #FFF;
  background: no-repeat center 20px transparent;
  text-align: center;
  opacity: 0.75;
  padding: 90px 0 20px;
}

.section-header small {
  display: block;
  margin: 3px 0 0 0;
  font-size: 10px;
}

.section-header.source {
  background-image: url(../images/code-button.png);
}

.section-header.github {
  background-image: url(../images/github-button.png);
}

.section-header.browser {
  background-image: url(../images/browser-button.png);
}

.section-header.description {
  background-image: url(../images/info-button.png);
}

.section-header.spec {
  background-image: url(../images/spec-button.png);
}

.section-header.issues {
  background-image: url(../images/issue-button.png);
}

/* =SINGLE_PAGE
----------------------------------------------------------------------------- */
pre {
  font-family: monaco, courier, monospace;
  font-size: 13px;
  line-height: 20px;
  border-style: none!important;
}

.longdesc, .col p {
  padding: 20px;
}

.col p + ol {
  margin: 0 0 20px 20px;
}

a.spec,
.col a {
  color: #F60;
  text-decoration: underline;
}

/* =BROWSER_ISSUES
----------------------------------------------------------------------------- */
.col li {
  margin: 10px 20px;
}

#browserscope {
  width: 100%;
}

#browserscope thead tr td {
  padding: 10px;
}

#browserscope tbody tr td {
  padding: 10px;
}

/* =PAGE_FOOTER
----------------------------------------------------------------------------- */
footer {
  display: block;
  background: #f3f3f3;
  background: -moz-linear-gradient(top,  #f3f3f3 0%, #e4e4e4 1%, #b6b6b6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(1%,#e4e4e4), color-stop(100%,#b6b6b6));
  background: -webkit-linear-gradient(top,  #f3f3f3 0%,#e4e4e4 1%,#b6b6b6 100%);
  background: -o-linear-gradient(top,  #f3f3f3 0%,#e4e4e4 1%,#b6b6b6 100%);
  background: -ms-linear-gradient(top,  #f3f3f3 0%,#e4e4e4 1%,#b6b6b6 100%);
  background: linear-gradient(top,  #f3f3f3 0%,#e4e4e4 1%,#b6b6b6 100%);
  padding: 0 !important;
  margin: 0 !important;
  bottom: 0;
  width: 100%;
  line-height: normal;
  height: 52px;
  border-top: 1px solid rgba(250, 250, 250, .8);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  position: relative;
}

footer > div {
  background-image: url(../images/brush.png);
  overflow: hidden;
}

footer p {
  font-size: 11px;
  padding: 20px 10px;
  color: #777;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  float: right;
}
footer p:first-child {
  float: left;
}

.logo-icon {
  width: 32px;
  height: 32px;
  display: block;
  background-image: url(../images/logo-icon.png);
  position: absolute;
  left: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -16px;
  top: 0;
}
