html, body {
  background-color: #eee;
}
body {
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}
.container > footer p {
  text-align: center; /* center align it with the container */
}
.container {
  width: 580px;
}

/* The white background content wrapper */
.content {
  background-color: #fbfbfb;
  text-align: justify;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
      -ms-border-radius: 6px;
       -o-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.35);
     -moz-box-shadow: 0 2px 2px rgba(0,0,0,.35);
      -ms-box-shadow: 0 2px 2px rgba(0,0,0,.35);
       -o-box-shadow: 0 2px 2px rgba(0,0,0,.35);
          box-shadow: 0 2px 2px rgba(0,0,0,.35);
}

/* Page header tweaks */
.page-header {
  background: url('../logo.png') no-repeat 535px 2px;
  background-size: 75px 75px;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.page-header h1 {
  color: #f60;
/*  text-shadow: -1px 2px #f60;*/
  text-align: left;
  font-size: 40px;
}

#browserscope, .label, .btn {
  -webkit-transition: all .6s ease;
     -moz-transition: all .6s ease;
      -ms-transition: all .6s ease;
       -o-transition: all .6s ease;
          transition: all .6s ease;
}

#run {
  outline: none;
  width: 100%;
  font-size: 18px;
}
.run-single {
  outline: 0;
  width: 80px;
}

#browserscope {
  height: 0;
  overflow: hidden;
  text-
}