/* @override 
	http://localhost:3000/css/awpy2.css */

html, body {
  background-color: #FFF;
}

.container {
  width: 100%;
}

.content {
  margin-top: 65px;
}

.content .span {
  width: 100%;
}

.content table td {
  border-style: none;
}

/*.content .zebra-striped tbody tr:nth-child(odd) td {
  background-color: #F9F9F9;
}
*/
.btn.small {
  border-radius: 20px;
  width: 29px;
  text-indent: 1px;
}

.page-header {
  position: fixed;
  margin: 0;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  height: 63px;
  border-top: 1px solid white;
  border-bottom: 1px solid #999999;
  text-align: center;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#cacaca), to(#ececec));
  background-image: -moz-linear-gradient(90deg, #cacaca 0%, #ececec 100%);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33);
}

.page-header .play {
  float: left;
  position: relative;
  width: 20%;
  height: 65px;
}

.page-header .submit {
  float: right;
  position: relative;
  width: 20%;
  height: 65px;
}

.page-header .display {
  width: 60%;
  height: 65px;
  margin-top: -1px;
  margin-left: 20%;
  margin-right: 20%;
  border-left: 2px groove;
  border-right: 2px groove;
}

.btn,
.page-header .submit a {
  -moz-box-shadow: inset 0 1px 0 #ffffff, 0 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 1px 0 #ffffff, 0 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 0 #ffffff, 0 1px 1px rgba(0, 0, 0, 0.5);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e1e1e1), to(#FFF));
  background-image: -moz-linear-gradient(90deg, #e1e1e1 0%, #FFF 100%);
}

.btn:active, 
.page-header .submit a:active {
  -moz-box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 rgba(0, 0, 0, 0.5);
}

.page-header .play .btn.big {
  float: left;
  border-radius: 25px;
  font-size: 20px;
  line-height: 30px;
  text-indent: -2px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -28px;
  margin-left: -20px;
  width: 40px;
  height: 40px;
}

.page-header div label {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 8px;
  margin-left: -40%;
  width: 80%;
  height: 16px;
  text-align: center;
  color: #333;
  font-size: 11px;
  line-height: 12px;
  font-weight: bold;
  text-shadow: 0 1px 1px #FFF;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.page-header .display {
  position: relative;
  overflow: hidden;
background-size: 24px;
}

.page-header .back {
  float: left;
  padding: 25px 15px;
  padding-right: 40px;
  margin-left: -1px;
}

.page-header .back:active {
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.1);
}

.page-header .back::after {
  content: "";
  display: block;
  -webkit-transform: rotateZ(60deg) skewX(30deg);
  border-left: 2px groove;
  border-bottom: 2px groove;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#C9C9C9), to(#EEE));
  background-image: -moz-linearo-gradient(90deg, #e1e1e1 0%, #FFF 100%);
  width: 35px;
  height: 35px;
  position: absolute;
  top: 13px;
  left: 162px;
}

.page-header .back + h1 {
  line-height: 44px;
}

.page-header h1 {
  font-size: 18px;
  line-height: 24px;
  margin-top: 10px;
}

.page-header h2 {
  font-size: 14px;
  line-height: 12px;
  margin: 0;
  margin-top: 5px;
  font-weight: normal;
  color: #333;
  text-shadow: 0 1px 1px #FFF;
}

.page-header h1 a {
  color: #333;
  text-shadow: 0 1px 1px #FFF;
}

.page-header .submit a {
  float: left;
  border-radius: 25px;
  font-size: 16px;
  line-height: 35px;
  text-indent: -2px;
  
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -24px;
  margin-left: -45px;
  padding: 0 20px;
  width: 50px;
  height: 35px;
}

.page-header a {
  color: #333;
  text-shadow: 0 1px 1px #FFF;
  font-weight: bold;
}

.page-header a:hover {
  text-decoration: none;
}

.prettyprint {
  background-color: #f9f9f9;
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.41);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.41);
  border-radius: 5px;
  border-style: none!important;
  font-size: 14px;
  margin: 20px auto;
  width: 80%;
}

footer {
  -moz-box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.49);
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.49);
  padding: 10px;
  text-align: center;
  background-color: #777;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  color: #CCC;
  text-shadow: 0 -1px 1px #000;
  font-weight: bold;
}
