/* -----------------------------------------------------------------------------
    authors:  Kasper Lahti, Yves Van Goethem
    summary:  RESET
              GENERIC
              TABLE_HEADERS
              TABLE_BODYS
              PAGE_HEADER
              SINGLE_PAGE
              BROWSER_ISSUES
              PAGE_FOOTER
----------------------------------------------------------------------------- */
/* =RESET
----------------------------------------------------------------------------- */

/* =GENERIC
----------------------------------------------------------------------------- */
.container,
header {
  width: 100%;
}

/* =TABLE_HEADERS
----------------------------------------------------------------------------- */
.page-header label,
.page-header .submit {
  display: none;
}

.page-header h1 {
  font-size: 100%;
}

.page-header h2 {
  font-size: 80%;
  line-height:1.2;
}

/* =PAGE_HEADER
----------------------------------------------------------------------------- */
.single .page-header .submit,
.single header .display,
.info-description,
.info-small {
  display: none;
}
.single header .play {
  width: 75% !important;
}
.single header .play:after {
  content: 'Run test';
}
.mobile-header {
  display: block;
  margin: 20px;
}

/* =PAGE_CONTENT
----------------------------------------------------------------------------- */
.tab, .col, .row {
  display: block !important;
  width: auto !important;
}
.col:not(:first-child) {
  border: 0 !important;
}
.col h4 {
  padding: 35px 0 30px 100px !important;
  background-position: 20px 50%;
  text-align: left;
}
.col:not(:first-child) > *,
.content.single table {
  width: 100%;
}

pre span {
  display:none;
}
pre:after {
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  content:'Use a desktop browser to see the source';
  white-space: normal;
}